/* start calendar show  */
.tdcolorCalendarHeader{  
    font-size: 9px;
    font-family: Tahoma;
}

.tdcolorCalendarday{  
    font-size: 11px;
    font-family: Tahoma;
}
.tdcolorCalendarSunday{  
    font-size: 11px;
    font-family: Tahoma;
    color: Red;
    
}

.footerCalendarShow{  
    font-size: 11px;
    font-family: Tahoma;
}
.showCalendarBoder{
    font-family:arial;
    font-size:11px;
    border-width:1px;
    border-style:solid;
    border-color:#a0a0a0;
    font-family:arial; 
    font-size:11px;
}

.selmonthCalendar{
    font-family:arial; 
    font-size:11px; 
    border-width:1px; 
    border-style:solid; 
    border-color:#a0a0a0;
    background-color :#FFFFDD;
}

.selYearCalendar{
    font-family:arial; 
    font-size:11px; 
    border-width:1px; 
    border-style:solid; 
    border-color:#a0a0a0;
    background :#FFFFDD;
}


/* start calendar show  */