<?xml version = '1.0' encoding = 'windows-1252'?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <description>web.xml file for VNS Framework Web Application</description>
    <listener>
    <listener-class>com.users.OnlineSessions</listener-class>
  </listener>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>com.action.AServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml,/WEB-INF/mapping-admin.xml,/WEB-INF/mapping-evn.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
  <servlet>
    <servlet-name>datainfo</servlet-name>
    <servlet-class>com.ws.dataInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>alertinfo</servlet-name>
    <servlet-class>com.ws.alertInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getticket</servlet-name>
    <servlet-class>com.ws.getTicket</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ticketinfo</servlet-name>
    <servlet-class>com.ws.ticketInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getdata</servlet-name>
    <servlet-class>com.ws.getData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getcmisdata</servlet-name>
    <servlet-class>com.ws.getCmisdata</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>getfmisdata</servlet-name>
    <servlet-class>com.ws.getFmisdata</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>pushdata</servlet-name>
    <servlet-class>com.ws.pushdata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>datainfo</servlet-name>
    <url-pattern>/datainfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>alertinfo</servlet-name>
    <url-pattern>/alertinfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pushdata</servlet-name>
    <url-pattern>/pushdata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getdata</servlet-name>
    <url-pattern>/getdata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getfmisdata</servlet-name>
    <url-pattern>/getfmisdata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getcmisdata</servlet-name>
    <url-pattern>/getcmisdata</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getticket</servlet-name>
    <url-pattern>/getticket</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ticketinfo</servlet-name>
    <url-pattern>/ticketinfo</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>175</session-timeout>
    </session-config>
    <mime-mapping>
        <extension>html</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>txt</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>
    <welcome-file-list>
        <welcome-file>/index.jsp</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error/</location>
    </error-page>
    <taglib>
        <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-tiles.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
    </taglib>
    <taglib>
        <taglib-uri>/WEB-INF/struts-nested.tld</taglib-uri>
        <taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
    </taglib>
</web-app>
